.login{
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    .form-container{
        position: absolute;
        width: 40%;
        height: 100vh;
        top:0;
        left:0;
        background: #fff;
    }
    .form-inner{
        position: absolute;
        width: 70%;
        left:50%;
        margin-left:-35%;
        height: 424px;
        top:50%;
        margin-top:-212px;
        text-align: center;
        form{
            margin-top:100px;
            margin-bottom:100px;
        }
        .form-group{
            text-align: left;
        }
    }
    .secondary-container{
        width:60%;
        position: absolute;
        right: 0;
        height: 100vh;
        background: #039BE5;
        img{
            width: 50%;
            position: absolute;
            bottom:0;
            left:50%;
            margin-left: -25%;
        }
        .secondary-content{
            margin-top:250px;
            color:#FFF;
            width: 50%;
            text-align: center;
            position: absolute;
            left:50%;
            margin-left:-25%; 
            a{
                margin-top:50px;
                background: none!important;
                border:2px solid #fff!important;
            }
        }
        
    }
}
