.logo{
    font-size: 30px;
    float: left;
    padding: 10px 0 10px 0px;
    color: #333;
}



.header{
    background: #fff;
    display: table;
    width: 100vw;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

