.banner-hero{
    background: #7f00ff;
    position: relative;
    width: 100%;
    height: 380px;
    .bg{
        position: absolute;
        background: url('https://cssninja.io/themes/cssninja/assets/images/bg/perspective.jpg') no-repeat;
        background-size: cover;
        width: 100%;
        height: 380px;
        top: 0;
        z-index: 1;
    }
    .overlay{
        position: absolute;
        background: #7f00ff;
        width: 100%;
        height: 380px;
        top: 0;
        opacity: 0.8;
        z-index: 2;}
    .banner-content{
        text-align: center;
        color: #fff;
        z-index: 3;
        position: absolute;
        bottom: 50px;
        width: 100%;
    }
    
}

.dashboard-navigation{
    display: table;
    position: relative;
    height: auto;
    width: 100%;
    background: lightgrey;
    ul{
        margin: 0;
        list-style: none;
        
        li{
            margin: 0;
            float: left;
            a{
                margin: 0;
                padding-right:20px;
                padding-left: 5px;
                line-height: 40px;
                color:#333;
                border-bottom: 1px solid lightgrey;
                cursor: pointer;
                :hover{
                    border-bottom: 1px solid #7f00ff;
                }
            }
        }
    }
}

.main-container{
    padding-top: 50px;
}

.add::after {
    content: "";
    background: url('/assets/images/plus.svg') no-repeat rgba($color: #7f00ff, $alpha: 0.9) center;
    background-size: 100px 100px;
    width: 100%;
    height: 400px;
    z-index: 4;
    position: absolute;
}
.gridbox{
        display: table;
        width: 100%;
        border: 1px solid #7f00ff;
        min-height: 400px;
        background: #fff;
        position: relative;
        -webkit-box-shadow: 0 0 10px 2px rgba(17,17,17,.04);
        -moz-box-shadow: 0 0 10px 2px rgba(17,17,17,.04);
        box-shadow: 0 0 10px 2px rgba(17,17,17,.04);
        margin-bottom:40px;
        cursor: pointer;
        .text-box{
            position: absolute;
            bottom:0;
            width: 100%;
            border-top:1px solid #7f00ff;
            height: 58px;
            text-align: center;
            .title{
                font-size: 18px;
                line-height: 30px;
                color:#333;
                padding:0;
                margin:0
            }
            .date{
                font-size: 14px;
                line-height: 18px;
                padding:0;
                margin-bottom:10px;
            }
        }
   
}

