<p>template-view works!</p>

<section class="dashboard">
    <div class="banner-hero">
        <div class="bg"></div>
        <div class="overlay"></div>
        <div class="banner-content">
            <h1>Let's Select the template for your Resume</h1>
        </div>
    </div>
    
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a class="gridbox">
                        <div class="bg"></div>
                        <div class="text-box">
                            <p class="title">Resume 1</p>
                            <p class="date">Jun 2019</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="gridbox">
                        <div class="bg"></div>
                        <div class="text-box">
                            <p class="title">Resume 1</p>
                            <p class="date">Jun 2019</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="gridbox">
                        <div class="bg"></div>
                        <div class="text-box">
                            <p class="title">Resume 1</p>
                            <p class="date">Jun 2019</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="gridbox">
                        <div class="bg"></div>
                        <div class="text-box">
                            <p class="title">Resume 1</p>
                            <p class="date">Jun 2019</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>