<section class="login">
    <div class="form-container">
        <div class="form-inner">
            <a routerLink="/signup" >Don't have an account ?</a>
            <form (submit)="form($event)" >
                
                <div class="form-group">
                    <input type="password" class="form-control" required placeholder="old password">
                </div>
            <br>
                <div class="form-group">
                        <input type="password" class="form-control" required placeholder="new password">
                    </div>

                    <div class="form-group">
                            <input type="password" class="form-control" required placeholder="repeat new password">
                        </div>
                <button class="btn btn-primary button button-full-width" type="submit">Change Password</button>
            </form>
            
        </div>
    </div>
    <div class="secondary-container">
        <div class="secondary-content">
            <h1>Start Designing Now</h1>
            <p>Become one of our loyal cutomers and get access to ressources, tutorials, and of course customer support</p>
            <a routerLink="/signup" class="btn btn-primary button" >Register Now</a>
        </div>
        <img src="https://cssninja.io/themes/cssninja/assets/images/bg/temple.svg">
    </div>
</section>
