<section class="dashboard">
    <div class="banner-hero">
        <div class="bg"></div>
        <div class="overlay"></div>
        <div class="banner-content">
            <h1>Hi, John Doe</h1>
        </div>
    </div>
    <div class="dashboard-navigation">
        <div class="container ">
            <ul>
                <li><a >Dashboard</a></li>
                <li><a routerLink="">My Resume</a></li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a class="gridbox">
                        <div class="bg"></div>
                        <div class="text-box">
                            <p class="title">Resume 1</p>
                            <p class="date">Jun 2019</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="gridbox">
                        <div class="bg"></div>
                        <div class="text-box">
                            <p class="title">Resume 1</p>
                            <p class="date">Jun 2019</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="gridbox add" routerLink="/account/templates"  >
                        
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>